/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/backlight.h>

#define L_1 1
#define L_2 2

&lt { quick_tap_ms = <170>; };

/ {
    behaviors {
        qtab: q_alt_tab {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp Q>, <&kp TAB>;
            mods = <(MOD_LALT)>;
            keep-mods = <(MOD_LALT)>;
        };
        lt3: less_than_three {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LSHFT>
                , <&macro_tap &kp COMMA>
                , <&macro_release &kp LSHFT>
                , <&macro_press &kp N3>
                , <&macro_release &kp N3>
                ;
        };
        col3: colon_three {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LSHFT>
                , <&macro_tap &kp SEMI>
                , <&macro_release &kp LSHFT>
                , <&macro_press &kp N3>
                , <&macro_release &kp N3>
                ;
        };
        ssht: screenshot {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LGUI>
                , <&macro_press &kp LSHFT>
                , <&macro_press &kp S>
                , <&macro_release &kp S>
                , <&macro_release &kp LSHFT>
                , <&macro_release &kp LGUI>
                ;
        };
    };

    keymap {
        compatible = "zmk,keymap";


        base_layer {
            label = "Base";
            bindings = <
       &qtab     &kp W  &kp F      &kp P    &kp B         &kp J         &kp L     &kp U     &kp Y   &kp BKSP
       &kp A     &kp R  &kp S      &kp T    &kp G         &kp M         &kp N     &kp E     &kp I   &kp O   
       &kp LSHFT &kp X  &kp C      &kp D    &kp V         &kp K         &kp H     &kp COMMA &kp DOT &kp SLASH     
                        &kp LCTRL  &kp LALT &lt L_1 ENTER &lt L_2 SPACE &kp MINUS &kp EQUAL
            >;
        };

        layer_1 {
            label = "L_1";
            bindings = <
       &kp ESC   &trans &trans     &trans       &trans       &trans        &trans    &trans    &trans  &kp SEMI
       &sk LCTRL &trans &trans     &kp C_VOL_UP &ssht        &trans        &trans    &trans    &trans  &kp SQT
       &kp Z     &trans &trans     &kp C_VOL_DN &trans       &trans        &trans    &lt3      &col3   &kp GRAVE
                        &kp LSHFT  &kp LGUI     &trans       &kp LSHFT     &kp LBKT  &kp RBKT
            >;
        };

        layer_2 {
            label = "L_2";
            bindings = <
       &kp N1      &kp N2     &kp N3     &kp N4    &kp N5        &kp N6       &kp N7    &kp N8    &kp N9  &kp N0
       &kp TAB     &trans     &trans     &trans    &trans        &trans       &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT
       &bootloader &sys_reset &trans     &trans    &trans        &trans       &trans    &trans    &trans  &kp BSLH
                              &kp LSHFT  &kp LGUI  &kp LSHFT     &trans       &trans    &trans
            >;
        };
    };
};
